<main>
  <div class="container">
    <div class="row">
      <div class="col">
        <div>
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th scope="col">#id</th>
                <th scope="col">Titulo</th>
                <th scope="col">Autor</th>
                <th scope="col">e-mail</th>
              </tr>
            </thead>
            <tbody>
              <% articles.forEach(element => { %>

              <tr>
                <th scope="row"><%=element.id %></th>
                <td>
                  <a class="me-3" href="<%=`/article/`+element.id %>"
                    ><%= element.title %></a
                  >
                </td>
                <td>
                  <a class="me-3" href="<%=`/article/`+element.id %>"
                    ><%= element.authorId %></a
                  >
                </td>
                <td>
                  <a class="me-3" href="<%=`/article/`+element.id %>"
                    ><%= element.email %></a
                  >
                </td>
                <td>
                  <a href="<%=`/admin/update/`+element.id %>"
                    ><i class="fas fa-edit ms-4"></i
                  ></a>
                  <a href="<%=`/admin/delete/`+element.id %>"
                    ><i class="fas fa-trash-alt ms-4"></i
                  ></a>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
